:root {
/* color */
    --naver-green : #21c531;
    --background-gray : #f6f8fa;
/* font-black */
    --font-black1 : #222;
    --font-black2 : #444;
    --font-black3 : #666;
    --font-black4 : #999;
/* font-white */
    --font-white1 : #fff;
    --font-white2 : #fafafa;
/* footer font color */
    --footer-font-light : #b3b3b3;
    --footer-font-dark : #777;

/* size */
    --container-size : 1000px;
}

.unit-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}



body {
    background-color: var(--background-gray);
}

header {
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    padding: 16px;
    box-sizing: border-box;
}

h1 {
    background: url('../img/spr_intro.png') no-repeat 0 -98px;
	width: 78px;
	height: 29px;
    position: relative;
}
.header-right {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 32px;
}
.lang {
    color: var(--font-black3);
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang:hover {
    text-decoration: underline;
}

.lang::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid var(--font-black3);
}

.join {
    color: var(--font-black1);
}

.join:hover {
    text-decoration: underline;
}

.login-button {
    display: block;
    color: var(--font-white2);
    background-color: var(--naver-green);
    width: 88px;
    height: 32px;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
}

.drop-green:hover{
    box-shadow: 0 2px 8px #21c53180;
}





.recommend-band-content {
    position: relative;
}

.wrapper {

}

#intro {
    padding-top: 120px;
}

.section-container {
    width: var(--container-size);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 32px;
    margin: 0 auto;
}

.intro-image {
    width: 550px;
}

.intro-text-container {
    margin-top: -80px;
}

.intro-heading {
    font-size: 48px;
    margin-bottom: 24px;
}

.intro-explain {
    margin-bottom: 16px;
    font-size: 16px;
}

.intro-text-container > a {
    display: block;
    text-align: center;
    line-height: 52px;
    border-radius: 2px;
}

.intro-login {
    margin-bottom: 16px;
    background-color: var(--naver-green);
    color: var(--font-white1);
}

.intro-join {
    background-color: var(--font-white1);
    border: 1px solid #ebebeb;
    margin-bottom: 32px;
}

.intro-join:hover {
    box-shadow: 0 2px 4px #00000030;
}

.intro-text-container>p {
    font-size: 14px;
    margin-bottom: 16px;
}

.green-link {
    color: var(--naver-green);
    text-decoration: underline;
    font-weight: bold;
    margin-left: 16px;
}

#slogan {
    min-width: 1000px;
}

.slogan-inner-container {
    height: 540px;
    background-image: url(../img/bg_intro.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-white1);
    text-align: center;
}

.slogan-heading {
    font-size: 40px;
    margin-bottom: 32px;
}

.slogan-text {
    line-height: 150%;
}

.slogan-contents-container {
    width: var(--container-size);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.slogan-contents {
    width: 300px;
}

.slogan-contents > figure {
    margin-bottom: 16px;
}

.slogan-content-heading {
    font-size: 24px;
    color: var(--font-black1);
    margin-bottom: 16px;
}

.slogan-content-heading+p {
    font-size: 15px;
    line-height: 150%;
}

#recommend {
    background-color: #eef0f3;
    padding: 56px 0;
    min-width: 1000px;
}

.recommend-container {
    width: var(--container-size);
    margin: 0 auto;
}

.recommend-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.recommend-heading {
    font-size: 24px;
    color: var(--font-black1);
}

.recommend-title > a {
    font-size: 14px;
    color: var(--font-black2);
    display: flex;
    align-items: center;
    gap: 6px;
}

.recommend-title > a:hover{
    text-decoration: underline;
}

.recommend-title > a::after {
    content: '';
    display: block;
    border-top: 2px solid var(--font-black4);
    border-right: 2px solid var(--font-black4);
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
}

.recommend-band-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px 0;
}

.recommend-band-content {
    display: flex;
    width: 500px;
    height: 100px;
}

.recommend-band-content > figure {
    flex-shrink: 0;
}


.band-image {
    width: 100px;
}

.band-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 8px;
}

.band-name > a {
    position: relative;
    z-index: 5;
    color: var(--font-black1);
    font-weight: bold;
}

.band-name > a:hover {
    text-decoration: underline;
}

.band-introduce {
    color: var(--font-black2);
    width: calc(500px - 100px - 16px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;

}

.band-status {
    color: var(--font-black4);
    font-size: 13px;
}

.band-status > span {
    margin: 0 4px;
}

.band-memeber-count::after {
    content: '·';
    margin-left: 4px;
}

.more-view {
    display: flex;
    width: fit-content;
    background-color: white;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #e3e3e3;
    padding: 0 8px;
    /* line-height: 24px; */
    align-items: center;
    font-size: 12px;
    color: var(--font-black3);
    position: relative;
    z-index: 5;
}

.more-view:hover {
    border: 1px solid #999;
}

.more-view::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid gray;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.band-category {
    color: var(--font-black1);
    font-weight: bold;
    margin-right: 4px;
}

#app-download {
    padding: 40px 0;
}

.app-download-container {
    display: flex;
    width: var(--container-size);
    margin: 0 auto;
    align-items: center;
    gap: 16px;
}

.app-icon {
    background: url('../img/spr_intro.png') no-repeat -162px 0;
	width: 70px;
	height: 70px;
    flex-shrink: 0;
}

.app-download-contents {
    width: 100%;
}

.go-to-store {
    display: flex;
    gap: 8px;
}

.go-to-store > a {
    display: block;
}

.google-play {
    background: url('../img/spr_intro.png') no-repeat 0 0;
	width: 160px;
	height: 47px;
}

.app-store {
	background: url('../img/spr_intro.png') no-repeat 0 -49px;
	width: 160px;
	height: 47px;
}

.app-download-heading {
    font-size: 24px;
    margin-bottom: 8px;
}

.app-download-heading + p {
    color: var(--font-black3);
    font-size: 14px;
}

#agree-cookie {
    background-color: rgba(34, 34, 34, 0.96);
    padding: 16px 0;
    color: var(--font-white2);
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.cookie-container {
    display: flex;
    width: var(--container-size);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.cookie-explain {
    display: flex;
}

.cookie-explain > h2 {
    margin-right: 8px;
}

.cookie-explain > a {
    color: var(--footer-font-dark);
    text-decoration: underline;
}

.cookie-explain > a:hover {
    text-decoration: none;
}

.cookie-buttons {
    display: flex;
    gap: 8px;
}

.cookie-buttons > a{
    display: block;
    padding: 6px 12px;
    background-color: var(--naver-green);
    color: var(--font-white2);
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}

.cookie-buttons > .no {
    background-color: #999;
}